@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

// CheckoutSteps
@use '../../components/CheckoutSteps';

// OrderItem
@use './components/OrderItem';

.place-order-main {

    .order {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .order-title-section {
            width: 100%;

            h1 {
                font-size: 35px;
                margin: 30px 0;
            }
        }

        .order-info-section {
            width: 70%;
            height: fit-content;

            .order-info__shipping,
            .order-info__payment,
            .order-info__product {
                background-color: #fff;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 10px;
                border: 1px solid V.$color-primary-light;
            }

            .order-info__shipping,
            .order-info__payment {

                .order-action-no-check {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    padding-left: 15px;
                    background: #fef2c7;

                    span {
                        font-size: 15px;
                        color: #c9a509;
                    }
                }
        
                .order-action-check {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    padding-left: 15px;
                    background: #c7dfd5;

                    span {
                        font-size: 15px;
                        color: #38594b;
                    }
                }
            }

            h4 {
                font-size: 25px;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 10px;
            }

            a {
                color: V.$color-tertiary;
                text-decoration: underline;
            }

            .order-info__product {
                
                ul {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .order-summary-section {
            width: 325px;
            height: fit-content;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid V.$color-primary-light;

            h5 {
                font-size: 25px;
            }

            ul {
                width: 100%;
                height: 30px;
                margin: 10px 0;
                border-bottom: 1px solid V.$color-primary-light;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            button {
                @include M.in-stock-btn(100%);
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .place-order-main {

        .order {

            .order-info-section, .order-title-section {
                margin: 0 auto
            }

            .order-title-section {
                width: 70%;
            }

            .order-summary-section {
                position: sticky;
                bottom: 0;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .place-order-main {

        .order {

            .order-info-section, .order-title-section {
                margin: 0 auto;
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .place-order-main {
        
        .order {

            .order-info-section, .order-title-section {
                margin: 0 auto;
                width: 95%;

                span {
                    margin: 0 10px;
                }
            }
        }
    }
}