@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

//SubNavbar
@use '../../components/SubNavbar';

// Product Item
@use '../../components/ProductItem';

// Filters
@use './components/Filters';

// Products
@use './components/Products';

.home-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 940px) {
    .home-main {
        flex-direction: column;
    }
}