@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Sidebar
@use '../../components/_Sidebar';

// Table
@use '../../components/_Table';

// TableSearchBar
@use '../../components/_TableSearchBar';

// TablePagination
@use '../../components/_TablePagination';

// TableTd
@use '../../components/_TableTd';

// TableButtons
@use '../../components/_TableButtons';

.productsboard__statistics {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow: hidden;

    &__wrapper {
        @include M.WrapperTemplate();
        overflow: hidden;
    }
}

.productsboard__header {
    display: flex;
    justify-content: space-between;

    &__link {
        @include M.ButtonTemplate(135px, V.$btn-green-bg, V.$btn-green-bg-hover, 0);
        padding-right: 5px;    

        * {
            color: V.$color-secondary;
            font-weight: 700;
        }
    }
}

// Product images
.product-image {
    width: 50px;
    height: 50px;
}

.product-image-list {
    margin: 0 auto;
    max-width: 75px;
    max-height: 74px;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 25px;
        height: 25px;
    }
}

// Product color list
.product-colors {
    margin: 0 auto;
    width: fit-content;
    max-width: 90px;
    max-height: 74px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        width: fit-content;
        height: fit-content;
        margin: 1px;
    }
}

// Product size list
.product-sizes {
    margin: 0 auto;
    width: fit-content;
    max-width: 90px;
    max-height: 74px;
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5px;
        width: fit-content;
        max-width: 55px;
        height: 15px;
        max-height: 15px;
        border-radius: 2.5px;
        border: 1px solid V.$color-primary-semi-light;

        span {
            white-space: nowrap;
            width: fit-content;
            font-size: 11px;
            padding: 2.5px;
        }
    }
}

// Product stock modal
.product-stock {
    &__total {
        width: 27px;
        height: 27px;
        background-color: V.$color-primary-light;
        padding: 5px;
        border-radius: 50%;
        margin: 0 auto;
        cursor: default;
    }

    &__modal {
        @include M.WrapperTemplate();
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: auto;
        max-height: 350px;
        opacity: 1;
        border: 1px solid V.$color-product-item-gray;
        transition: all .2s ease-in-out;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            height: 10px;
            width: 7.5px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: transparent;
        }
          
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: V.$color-secondary;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;
        }

        &__list {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                padding: 7.5px 0;
                border-bottom: 1px solid V.$color-product-item-gray;

                &:last-child {
                    border: none;
                }

                & > div,
                span {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                strong {
                    width: 68px;
                }
            }
        }
    }
}