@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

//Sidebar
@use '../../components/_Sidebar';

//Table
@use '../../components/_Table';

.productsboard__statistics {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow: hidden;

    &__wrapper {
        @include M.WrapperTemplate();
        overflow: hidden;
    }
}

.productsboard__header {
    display: flex;
    justify-content: space-between;

    &__title {
        margin-bottom: 25px;
        font-size: 25px;
    }

    &__link {
        @include M.ButtonTemplate(135px, V.$btn-green-bg, V.$btn-green-bg-hover, 0);
        padding-right: 5px;    

        * {
            color: V.$color-secondary;
            font-weight: 700;
        }
    }
}