@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

//Form
@use '../../components/_Form';

.main--authenticated {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    height: 100vh;
    margin-bottom: 0px;
}

.authenticated-wrapper {
    @include M.WrapperTemplate();
    min-width: 300px;
    width: 40%;
    height: fit-content;
}