@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

//SubNavbar
@use '../../components/SubNavbar';

// CartItem
@use './components/CartItem';

// Carousel
@use '../../components/ProductsCarousel';

.cart-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__products {
        min-width: 95%;
        width: 85%;
        margin: 0 auto;
    }

    &__purchase-summary {
        min-width: 95%;
        width: auto;
        height: fit-content;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid V.$color-primary-light;
        position: sticky;
        top: 30px;
        bottom: 0;
        margin: 0 auto;

        &__head {
            padding: 20px;
            border-bottom: 1px solid V.$color-primary-light;
        }

        &__body {
            padding: 20px;

            &__total {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            &__btn {
                @include M.ButtonTemplate(100%, V.$btn-green-bg, V.$btn-green-bg-hover);
            }
        }
    }
}

.cart-clear {
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-size: 30px;
    }

    &__link {
        font-size: 25px;
        color: V.$color-tertiary;
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .cart-info__products {
        min-width: 90%;
    }
        
    .cart-info__purchase-summary {
        min-width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .cart-info {
        flex-wrap: nowrap;

        &__products {
            min-width: auto;
            width: 70%;
            margin: 0;
        }

        &__purchase-summary {
            min-width: auto;
            width: 25%;
            margin: 0;
        }
    }
}