@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Form
@use '../../components/_Form';

// Form Field
@use '../../components/FormField';

.main--restore-password {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restore-password-form {
    @include M.WrapperTemplate();
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 475px;
}

@media screen and (min-width: 400px) {
    .restore-password-form {
        width: 375px;
    }
}

@media screen and (min-width: 550px) {
    .restore-password-form {
        width: 550px;
        height: 450px;
    }
}