@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Form
@use '../../components/_Form';

.main--restore-password {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restore-password-md {
    @include M.WrapperTemplate();
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 475px;

    &__header {
        width: 80%;

        &__title {
            font-size: 35px;
            margin: 5px 0;
        }

        &__text {
            text-align: pretty;
            margin: 25px 0;
        }
    }
}

@media screen and (min-width: 400px) {
    .restore-password-md {
        width: 375px;
    }
}

@media screen and (min-width: 550px) {
    .restore-password-md {
        width: 550px;
        height: 450px;
    }
}