//Navbar
@use './components/Navbar.scss';

//Footer
@use './components/Footer.scss';

.sub-navbar {
    width: 100%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
}

.home-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
  
    .home-filters-container {
        width: 25%;
        margin-top: 15px;

        .home-separator {
            border: 1px solid rgba(0,0,0,.1);
            border-radius: 5px;
            width: 80%;
            margin: 25px auto;
        }

        & section {
            width: 80%;
            margin: 0 auto;

            h4 {
                font-size: 20px;
            }

            li {
                font-size: 15px;
                margin: 10px 0;
                cursor: pointer;
            }
        }

        #home-title-section {
            margin-bottom: 25px;

            h2 {
                font-size: 35px;
            }

            span {
                font-size: 15px;
                margin-left: 25px;
            }
        }

        #home-size-section {
            span {
                color: rgb(142, 112, 84);
                text-decoration: underline;
                cursor: pointer;
            }
        }

        #home-color-section {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    width: 25px;
                    height: 25px;
                    max-width: 25px;
                    max-height: 25px;
                    margin: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.473);
                    padding: 1px;

                    div {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        #home-price-section {
            input {
                width: 35%;
                height: 30px;
                border: none;
                border-radius: 5px;
                padding-left: 5px;
            }

            span {
                margin: 0 5px;
                color: rgba(0, 0, 0, 0.473);
            }

            button {
                background-color: #fff;
                margin-left: 10px;
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .home-products-container {
        display: flex;
        justify-content: center;
        width: 75%;
        padding: 15px;
        margin-bottom: 100px;
  
        ul {
            display: grid;
            grid-auto-rows: min-content;
            grid-template-columns: repeat(auto-fill, 284px);
            gap: 15px;
            width: 100%;
            max-width: 1010px;
            margin: 0 auto;

            li {
                width: 100%;
                height: 484px;
                background-color: #fff;
                border-radius: 5px;
                position: relative;

                &:hover {
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1), 0 -2px 3px 0 rgba(0,0,0,.1);
                    box-shadow: 0px 10px 10px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
                }

                .favorite-icon {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 1;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: 284px;
                    border-radius: 5px 5px 0px 0px;
                }

                & > div {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    border-top: 1px solid rgba(211, 211, 211, 0.466);
                    padding: 20px;

                    .product-colors {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70px;
                        height: 20px;
                        position: absolute;
                        top: -11px;
                        background-color: #fff;
                        border-radius: 10px;
                        border: 1px solid rgba(211, 211, 211, 0.466);
                        z-index: 1;

                        span {
                            margin: 0 auto;
                            width: fit-content;
                            font-size: 10px;
                        }
                    }

                    a {
                        margin-bottom: 20px;
                        font-size: 20px;
                    }

                    span {
                        font-weight: bold;
                        font-size: 25px;
                        margin-bottom: 40px;
                    }
                    
                    .add-to-cart-btn {
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        background-color: #26b16d;
                        width: 70%;
                        height: 40px;
                        margin: auto;
                        transition: background-color 0.3s;
                        cursor: pointer;

                        &:hover {
                            background-color: #23c476;
                        }
                    }

                    .out-stock-btn {
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        background-color: #b8b8b8;
                        width: 70%;
                        height: 40px;
                        margin: auto;
                    }
                }
            }
        }
    }
}