* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #ebebeb;
  text-align: center;
}

body {
  background-color: #333;
}

header {
  max-width: 100vw;
}

nav {
  width: 100%;
  height: 75px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5a5a5a;
}

nav.dark {
  background-color: #5a5a5a;
}

nav.light {
  color: #3a3a3a;
  background-color: #ececec;
}

nav h1 {
  display: inline;
}

nav a {
  margin: 0 7.5px;
}

main {
  margin: 100px 0;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

main li {
  width: 400px;
  margin: 25px auto;
  border: 1px solid #eee;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #5a5a5a;
}

h6 {
  font-size: 20px;
}

/*Loading Spinner*/

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.loading-box img {
  width: 60px;
  height: 60px;
  animation: rotate 3s linear infinite;
}

.loading-box .spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-box .spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-box .spinner div:nth-child(1) {
  left: 8px;
  animation: loading-icon1 0.6s infinite;
}
.loading-box .spinner div:nth-child(2) {
  left: 8px;
  animation: loading-icon2 0.6s infinite;
}
.loading-box .spinner div:nth-child(3) {
  left: 32px;
  animation: loading-icon2 0.6s infinite;
}
.loading-box .spinner div:nth-child(4) {
  left: 56px;
  animation: loading-icon3 0.6s infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(60deg);
  }
  20% {
      transform: rotate(120deg);
  }
  40% {
      transform: rotate(180deg);
  }
  60% {
      transform: rotate(240deg);
  }
  80% {
      transform: rotate(300deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes loading-icon1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading-icon2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes loading-icon3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/*Rating*/

.rating span {
  color: #ffc000;
}

/*Product Page*/

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

/*Sign In Page*/

.small-container {
 max-width: 600px;
}

/*Checkout Steps*/

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}