@use './utilities/variables' as V;

//Loading Spinner
@use './components/LoadingSpinner';
//Navbar
@use './components/Navbar.scss';
//SubNavbar
@use './components/SubNavbar.scss';
//Footer
@use './components/Footer.scss';

* {
  margin: 0;
  padding: 0;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: V.$color-primary;
}

body {
  background: V.$color-secondary;
}

#root {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1300px;
  min-height: 725px;
}