//Navbar
@use './components/Navbar.scss';

//Footer
@use './components/Footer.scss';

@use './components/CheckoutSteps.scss';

.shipping-main {
  width: 100%;
  max-width: 1300px;
  min-height: 650px;

  article:nth-child(2) {
    section {
      width: 80%;
      max-width: 600px;
      margin: 0 auto;

      h1 {
        font-size: 35px;
        margin: 30px 0;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;

        .group { 
          position: relative; 
          margin-bottom: 45px; 
        }

        input {
          font-size: 18px;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #757575;

          &:focus {
            outline:none;
          }
        }
                  
        /* LABEL ======================================= */
        label          {
          color: #999; 
          font-size: 18px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          transition: 0.2s ease all; 
          -moz-transition: 0.2s ease all; 
          -webkit-transition: 0.2s ease all;
        }
                  
        /* active state */
        input:focus ~ label, input:valid ~ label    {
          top: -20px;
          font-size: 14px;
          color: rgb(142, 112, 84);
        }
                  
        /* BOTTOM BARS ================================= */
        .bar {
          position: relative;
          display: block;
          width: 100%;

          &:before, &:after   {
            content: '';
            height: 2px; 
            width: 0;
            bottom: 1px; 
            position: absolute;
            background: rgb(142, 112, 84); 
            transition: 0.2s ease all; 
            -moz-transition: 0.2s ease all; 
            -webkit-transition: 0.2s ease all;
          }
          
          &:before {
            left: 50%;
          }
          
          &:after {
            right: 50%; 
          }
        }
                
        /* active state */
        input:focus ~ .bar:before, input:focus ~ .bar:after {
          width:50%;
        }
                  
        /* HIGHLIGHTER ================================== */
        .highlight {
          position: absolute;
          height: 60%; 
          width: 100px; 
          top: 25%; 
          left: 0;
          pointer-events: none;
          opacity: 0.5;
        }
                
        /* active state */
        input:focus ~ .highlight {
          -webkit-animation: inputHighlighter 0.3s ease;
          -moz-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
        }
      }

      button {
        color: #fff;
        border: none;
        border-radius: 5px;
        background-color: #26b16d;
        width: 200px;
        height: 40px;
        margin: auto;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #23c476;
        }
      }
    }
  }
}

@-webkit-keyframes inputHighlighter {
  from {
    background: rgb(142, 112, 84);
  }

  to {
    width:0;
    background:transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: rgb(142, 112, 84);
  }

  to  {
    width:0;
    background:transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: rgb(142, 112, 84);
  }

  to  {
    width:0;
    background:transparent;
  }
}