@use '../../utilities/mixins' as M;

.order-history-main {
    // width: 100%;
    // max-width: 1300px;
    // min-height: 700px;
    overflow-x: auto;

    section {
        width: 100%;

        h1 {
            font-size: 35px;
            margin: 30px 0;
        }

        table {
            min-width: 860px;
            width: 100%;
            border-collapse: collapse;
            text-align: center;

            thead {
                th {
                    padding: 20px;
                    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
                }
            }

            tbody {
                tr {
                    td {
                        padding: 20px;
                        border-bottom: 1px solid rgb(0, 0, 0, 0.1);

                        button {
                            @include M.in-stock-btn(75px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .order-history-main {
        section {
            padding: 0 50px;
        }
    }
}