@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Sidebar
@use '../../components/_Sidebar';

// Table
@use '../../components/_Table';

// TableSearchBar
@use '../../components/TableSearchBar';

// TablePagination
@use '../../components/TablePagination';

// TableTd
@use '../../components/TableTd';

// TableButtons
@use '../../components/_TableButtons';

// Card
@use '../../components/_Card';

// Form
@use '../../components/_Form';

// Form Field
@use '../../components/FormField';

// Checkbox Form Field
@use '../../components/_CheckboxFormField';

.create-user-close-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: V.$color-primary-semi-light;
    z-index: 110;
}

.create-user-md {
    @include M.WrapperTemplate();
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    z-index: 120;

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right: 20px;
        transition: background-color .3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: V.$color-primary-light;
        }
    }
}

.usersboard__users {
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;

        &__title {
            margin-bottom: 15px;
            font-size: 25px;
        }

        &__btn {
            @include M.ButtonTemplate(135px, V.$btn-green-bg, V.$btn-green-bg-hover, 0);
            gap: 10px;
            padding-right: 5px;
            
            * {
                color: V.$color-secondary;
                font-weight: 700;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 340px;
    }
    
    &__statistics {
        @include M.WrapperTemplate();
        position: relative;
        margin-top: 15px;
        width: 100%;
        height: 500px;

        &__title {
            font-size: 20px;
        }

        &__bar-chart {
            width: 100%;
            height: 437px;

            &__download-btn {
                border: none;
                background: transparent;
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 5;
                cursor: pointer;
            }
        }
    }
}

.usersboard__control-panel {
    padding: 0 25px 25px 25px;
    overflow: hidden;

    article {
        @include M.WrapperTemplate();
        overflow: hidden;
    }

    &__title {
        font-size: 20px;
    }
}

@media screen and (min-width: 500px) {
    .create-user-md {
        width: 475px;
    }
}
@media screen and (min-width: 992px) {
    .usersboard__users {
        padding: 15px;
    
        &__header__title {
            margin-bottom: 25px;
        }

        .usersboard__users__cards {
            flex-direction: row;
            height: auto;
        }

        .usersboard__users__statistics {
            margin-top: 25px;
        }
    }

    .usersboard__control-panel {
        padding: 0 15px 15px 15px;
    }
}