@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Sidebar
@use '../../components/_Sidebar';

// Table
@use '../../components/_Table';

// TableSearchBar
@use '../../components/_TableSearchBar';

// TablePagination
@use '../../components/_TablePagination';

// TableTd
@use '../../components/_TableTd';

// TableButtons
@use '../../components/_TableButtons';

// Card
@use '../../components/_Card';

.dashboard__statistics__details__sales__title,
.dashboard__statistics__details__categories__title,
.dashboard__latest-orders__wrapper__title {
    font-size: 20px;
}

.dashboard__statistics {
    display: flex;
    flex-direction: column;
    padding: 15px;

    &__title {
        margin-bottom: 15px;
        font-size: 25px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 340px;
    }

    &__details {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__sales,
        &__categories {
            @include M.WrapperTemplate();
            position: relative;

            button {
                border: none;
                background: transparent;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
        }

        &__sales {
            width: 100%;

            &__line-chart-wrapper {
                width: 99.9%;
                height: 375px;
            }
        }

        &__categories {
            margin-top: 15px;
            width: 100%;

            &__doughnut-chart-wrapper {
                width: 99.9%;
                height: 375px;
            }
        }
    }
}

.dashboard__latest-orders {
    padding: 0 15px 15px 15px;
    overflow: hidden;

    &__wrapper {
        @include M.WrapperTemplate();
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &__link {
            margin-top: 15px;
            align-self: center;
            font-size: 17.5px;
            color: V.$color-tertiary;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 992px) {
    .dashboard__statistics {
        padding: 25px;

        &__title {
            margin-bottom: 25px;
        }

        &__info {
            flex-direction: row;
            height: auto;
        }

        &__details {
            flex-direction: row;
            margin-top: 25px;
                
            &__sales {
                width: 65%;

                &__line-chart-wrapper {
                    width: 100%;
                }
            }

            &__categories {
                margin-top: 0;
                width: 30%;

                &__doughnut-chart-wrapper {
                    width: 100%;
                }
            }
        }
    }

    .dashboard__latest-orders {
        padding: 0 25px 25px 25px;
    }
}