@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Form
@use '../../components/_Form';

.main--recover-account {
    min-height: auto;
    margin-bottom: 0;
}

.recover-account-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recover-account-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    @include M.WrapperTemplate();

    &__header {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__title {
            font-size: 35px;
        }
    }
}


@media screen and (min-width: 400px) {
    .recover-account-form {
        width: 375px;
    }
}

@media screen and (min-width: 525px) {
    .recover-account-form {
        width: 450px;
    }
}