@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Form
@use '../../components/_Form';

// Form Field
@use '../../components/FormField';

.main--recover-account {
    min-height: auto;
    margin-bottom: 0;
}

.recover-account-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recover-account-form {
    @include M.WrapperTemplate();
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-bottom: 30px;
}


@media screen and (min-width: 400px) {
    .recover-account-form {
        width: 375px;
    }
}

@media screen and (min-width: 525px) {
    .recover-account-form {
        width: 450px;
    }
}