@use '../../utilities/_variables' as V;

// Product Item
@use '../../components/_ProductItem';

// ProductsListWrapper
@use '../../components/_ProductsListWrapper';

// PurchaseInfoBanner
@use '../../components/_PurchaseInfoBanner';

// Accordion
@use './components/_Accordion';

// Slider buttons
@use './components/_SliderButtons';

// Commerce section
.home__commerce {
    margin-bottom: 100px;

    &__carrousel {
        margin-top: 25px;

        &__item {
            position: relative;
            width: 100%;
            max-height: 600px;
            cursor: pointer;

            &__img {
                width: 100%;
                height: 100%;
                max-height: 600px;
                object-fit: cover;
                user-select: none;
            }
        }
    }

    &__category-prices {
        margin: 25px auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: V.$color-tertiary;
            padding-bottom: 4px;
            margin: 10px;
            color: V.$color-secondary;
            cursor: pointer;

            &__text {
                font-size: 12.5px;
                color: V.$color-secondary;
            }
        }
    }
}

// Purchase Info section
.home__purchase-info {
    width: 90%;
    margin: auto;
}

// Products Preview section
.home__products-preview {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 100px auto;
    padding: 15px;

    &__more {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;

        &__btn {
            width: 300px;
            height: 50px;
            border: none;
            border-radius: 5px;
            color: V.$color-secondary;
            background-color: V.$color-primary;
            transition: all .2s;
            cursor: pointer;

            &:hover {
                color: V.$color-primary;
                background-color: transparent;
                border: 2px dashed V.$color-primary;
            }
        }
    }
}

// Purchase Path section
.home__purchase-path article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
}

@media screen and (min-width: 420px) {
    .home__products-preview__more__btn {
        width: 400px;
    }

    .home__commerce__category-prices {
        width: 90%;

        &__card {
            margin: 25px;
        }
    }
}

@media screen and (min-width: 600px) {
    .home__commerce__category-prices {
        justify-content: space-between;

        &__card {
            margin: 0;
        }
    }
}

@media screen and (min-width: 700px) {
    .home__commerce__category-prices__card {
        width: 150px;
        height: 60px;

        &__text {
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 1100px) {
    .home__commerce__category-prices {
        width: 70%;
    }

   .home__purchase-path article {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1300px) {
    .home__purchase-info {
        width: auto;
        margin: 0;
    }

    .home__purchase-path article {
        width: auto;
        margin: 0;
    }
}




@media screen and (max-width: 395px) {
    .home__products-preview ul {
        max-width: 184px;
    }
}