@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

// Carousel
@use '../../components/ProductsCarousel';

.product-page-main {
    // width: 100%;
    // max-width: 1300px;
    margin-bottom: 100px;

    .product {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;

        .product-images {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
            height: fit-content;

            .second-images {
                min-width: 100px;
                width: 10%;
                padding: 5px;

                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: auto;

                    li {
                        display: flex;
                        align-items: center;
                        border: 1px solid V.$color-primary-light;
                        border-radius: 10px;
                        margin: 5px 0;
                        min-width: 70px;
                        width: 100%;

                        &.main-img {
                            border: 1px solid V.$color-tertiary;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            max-height: 600px;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .primary-image {
                width: 75%;
                margin: 0 auto;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .product-details {
            width: 35%;
            height: fit-content;

            .product-details__title {
                width: 100%;
                margin-bottom: 50px;
                font-size: 40px;
                position: relative;

                h1 {
                    max-width: 85%;
                    font-weight: lighter;
                }

                span {
                    font-weight: bold;
                }

                .favorite-icon {
                    font-size: 35px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 1;
                    cursor: pointer;
                }
            }

            .separator {
                width: 100%;
                border: 1px solid V.$color-primary-light;
                border-radius: 5px;
            }

            .product-details__options {
                width: 100%;

                .product-details__options-colors,
                .product-details__options-sizes {
                    margin: 25px 0;
                
                    h4 {
                        font-size: 25px;
                        font-weight: lighter;
                
                        span {
                            font-weight: bold;
                        }
                    }
                
                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                
                        li {
                            width: 25px;
                            height: 25px;
                            max-width: 25px;
                            max-height: 25px;
                            margin: 10px;
                            border: 1px solid V.$color-primary-semi-light;
                            padding: 1px;
                            cursor: pointer;
                            
                            &.selected {
                                border: 2px solid V.$color-tertiary;
                            }

                            div {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                
                .product-details__options-sizes {
                    ul {
                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            min-width: 60px;
                            width: 60px;
                            height: 35px;
                            max-height: 35px;
                            background: #fff;
                            margin: 10px;
                            border-radius: 5px;
                            border: 1px solid V.$color-primary-semi-light;

                            span {
                                white-space: nowrap;
                            }
                            
                            &.selected {
                                border: 2px solid V.$color-tertiary;
                            }
                        }
                    }
                }

                .sproduct-details__options-status {
                    margin: 25px 0;

                    h4 {
                        font-size: 25px;
                        font-weight: lighter;

                        span {
                            font-weight: bold;
                        }
                    }
                }

                .add-to-cart-btn {
                    @include M.in-stock-btn(100%);
                }
    
                .out-stock-btn {
                    @include M.out-stock-btn(100%);
                }
            }
        }
    }
}

@media screen and (max-width: 1330px) {
    .product-page-main {
        width: 90%;

        .product {
            height: fit-content;
    
            .product-images {

                .primary-image {
                    height: 85%;
                }
            }

            .product-details {
    
                .product-details__title {
                    margin-bottom: 25px;
                }
    
                .product-details__options {
    
                    .product-details__options-colors,
                    .product-details__options-sizes {
                        margin: 12.5px 0;
                    }
    
                    .sproduct-details__options-status {
                        margin: 12.5px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .product-page-main {
        width: 90%;

        .product {
            flex-direction: column;
            height: auto;
    
            .product-images {
                width: 100%;
                flex-direction: column-reverse;
                justify-content: center;
    
                .second-images {

                    ul {
                        width: 100%;
                        flex-direction: row;
                        margin: auto;

                        li {
                            width: 70px;
                            margin: 0 5px;
                        }
                    }
                }
    
                .primary-image {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 85%;
                    margin: 0 auto;
                    position: relative;
    
                    img {
                        min-width: 184px;
                        min-height: 184px;
                        margin: auto;
                        width: 60%;
                        height: 60%;
                    }
                }
            }

            .product-details {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .product-page-main {

        .product {

            .product-images {
    
                .second-images {

                    ul {

                        li {
                            min-width: 50px;
                            width: 50px;
                        }
                    }
                }
            }
    
            .product-details {
    
                .product-details__title {
                    font-size: 30px;
    
                    .favorite-icon {
                        font-size: 30px;
                    }
                }
    
                .product-details__options {

                    .product-details__options-colors,
                    .product-details__options-sizes {
                    
                        h4 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}