@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Cells Colors
$even-cell-color: transparent;
$odd-cell-color: #f8f8f8;

.sizes-guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .guide {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px;
        overflow-x: auto;
        z-index: 5;

        &__title {
            display: inline;
            margin: 15px 0;
        }
    }
}

.guide__body {
    @include M.WrapperTemplate();
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: V.$color-tertiary-light;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: V.$color-tertiary;
    }

    &__table {
        min-width: 370px;
        width: 500px;
        border-collapse: collapse;
        text-align: center;

        &__head__table-row {
            &:first-child th {
                border-radius: 5px 5px 0 0;
                background-color: V.$color-primary-light;
                color: V.$color-primary-semi-light;
                padding: 20px 0 20px 0;
            }

            th {
                background-color: V.$color-primary;
                color: #fff;
                max-width: 100px;
                padding: 10px 5px;
                border-bottom: 1px solid V.$color-primary-light;
            }
        }
    
        &__body__table-row {
            &:nth-child(even) {
                background-color: $odd-cell-color;
            }
    
            &:nth-child(odd) {
                background-color: $even-cell-color;
            }
    
            &__td {
                font-size: 15px;
                padding: 10px 5px;
                border-bottom: 1px solid V.$color-primary-light;
            }
        }
    }
}