@use '../../../utilities/_variables' as V;

.order-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid V.$color-primary-light;
    padding: 25px 0;
    font-size: 16px;

    &__body {
        display: flex;
        align-items: center;
        width: 360px;

        &__image {
            min-width: 125px;
            width: 125px;
            max-width: 125px;
            min-height: 125px;
            height: 125px;
            max-height: 125px;
        }

        &__details {
            &__name,
            &__feature {
                display: block;
                margin-left: 15px;
            }

            &__name {
                font-weight: bold;
            }
        }
    }
}