@use '../../utilities/_variables' as V;

// Product Item
@use '../../components/_ProductItem';

//SubNavbar
@use '../../components/_SubNavbar';

.main--search {
    display: flex;
    justify-content: center;
}

.search-products {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
    &__empty-msg {
        text-align: center;
        font-size: 20px;
        margin-bottom: 575px;
    }

    &__list {
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(1, 184px);
        gap: 15px;
        width: 100%;
        max-width: 1181px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 420px) {
    .search-products__list {
        grid-template-columns: repeat(2, 184px);
    }
}

@media screen and (min-width: 640px) {
    .search-products {
        margin-top: 0;

        &__list {
            grid-template-columns: repeat(3, 184px);
        }
    }
}

@media screen and (min-width: 825px) {
    .search-products__list {
        grid-template-columns: repeat(4, 184px);
    }
}

@media screen and (min-width: 1300px) {
    .search-products {
        display: block;

        &__list {
            grid-template-columns: repeat(4, 284px);
        }
    }
}