@use '../../utilities/variables' as V;

// Product Item
@use '../../components/ProductItem';

//SubNavbar
@use '../../components/SubNavbar';

.search-main {
    display: flex;
    justify-content: center;

    .search__products-container {
        width: 100%;
        
        h5 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 575px;
        }
  
        ul {
            display: grid;
            grid-auto-rows: min-content;
            grid-template-columns: repeat(4, 284px);
            gap: 15px;
            width: 100%;
            max-width: 1181px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 1300px) {
    .search-main {

        .search__products-container {
            display: flex;
            justify-content: center;
  
            ul {
                grid-template-columns: repeat(4, 184px);
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .search-main {

        .search__products-container {
  
            ul {
                grid-template-columns: repeat(4, 184px);
            }
        }
    }
}

@media screen and (max-width: 825px) {
    .search-main {

        .search__products-container {
  
            ul {
                grid-template-columns: repeat(3, 184px);
            }
        }
    }
}

@media screen and (max-width: 625px) {
    .search-main {

        .search__products-container {
            margin-top: 10px;

            ul {
                grid-template-columns: repeat(2, 184px);
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .search-main {

        .search__products-container {

            ul {
                gap: 10px;
            }
        }
    }
}

@media screen and (max-width: 395px) {
    .search-main {

        .search__products-container {

            ul {
                grid-template-columns: repeat(1, 184px);
            }
        }
    }
}