@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

// CheckoutSteps
@use '../../components/CheckoutSteps';

// OrderItem
@use './components/OrderItem';

$action-no-check-color: #c9a509;
$action-no-check-bg: #fef2c7;
$action-check-color: #38594b;
$action-check-bg: #c7dfd5;

.order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order-title-section {
    width: 100%;

    h1 {
        font-size: 35px;
        margin: 30px 0;
    }
}

.order-info-section {
    width: 70%;
    height: fit-content;

    .order-info__shipping,
    .order-info__payment,
    .order-info__product {
        @include M.WrapperTemplate();
        margin-bottom: 20px;
    }

    .order-info__shipping,
    .order-info__payment {

        .order-action-no-check {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            padding-left: 15px;
            background: $action-no-check-bg;

            span {
                font-size: 15px;
                color: $action-no-check-color;
            }
        }

        .order-action-check {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            padding-left: 15px;
            background: $action-check-bg;

            span {
                font-size: 15px;
                color: $action-check-color;
            }
        }
    }

    h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: V.$color-tertiary;
        text-decoration: underline;
    }

    .order-info__product {
        
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}

.order-summary-section {
    width: 325px;
    height: fit-content;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid V.$color-primary-light;

    h5 {
        font-size: 25px;
    }

    ul {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        border-bottom: 1px solid V.$color-primary-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        @include M.Button(100%);

        &#mercadopago-btn {
            background-color: #009ee3;

            &:hover,
            &:focus {
                background-color: #25afeb;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .order-info-section, .order-title-section {
        margin: 0 auto
    }

    .order-title-section {
        width: 70%;
    }

    .order-summary-section {
        position: sticky;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .order-info-section, .order-title-section {
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .order-info-section, .order-title-section {
        margin: 0 auto;
        width: 95%;

        span {
            margin: 0 10px;
        }
    }

    .order-title-section {
    
        h1 {
            font-size: 25px;
        }
    }
}