@use '../../utilities/_variables' as V;

// CheckoutSteps
@use '../../components/CheckoutSteps';

.payment-method-wrapper {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;

    &__title {
      font-size: 35px;
      margin: 30px 0;
    }
}
.payment-method-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    &__field {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;

        &__input-radio {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid V.$color-tertiary;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            transition: border-color 0.3s ease;

            &:checked {
                border-color: V.$color-tertiary;
            }

            &::before {
                content: ".";
                display: block;
                width: 12px;
                height: 12px;
                background-color: V.$color-tertiary;
                border-radius: 50%;
                margin: 2px;
            }

            &:not(:checked)::before {
                content: none;
            }
        }
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        background-color: #17795e;
        color: #fff;
        font-size: 12.5px;
        width: 200px;
        height: 40px;
        margin: 0 auto;
        transition: background-color 0.3s;
        cursor: pointer;
            
        &:hover,
        &:focus {
            background-color: #146c54;
        }
    }
}

// Message
.payment-message {
    position: absolute;
    top: 125px;
    right: -145px;
    padding: 15px;
    width: 280px;
    height: fit-content;
    border-radius: 10px;
    background-color: V.$color-tertiary-light;
    border: 2px solid V.$color-tertiary;
    text-align: justify;

    &.payment-message--cash {
        top: 165px;
    }

    &.payment-message--others {
        top: 125px;
    }
}

@media screen and (min-width: 380px) {
    .payment-message {
        width: 315.5px;
        top: 125px;
        right: -175px;
    }
}