@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

// CheckoutSteps
@use '../../components/CheckoutSteps';

.payment-main {

    article:nth-child(2) {
        
        section {
            width: 80%;
            max-width: 600px;
            margin: 0 auto;

            h3 {
              font-size: 35px;
              margin: 30px 0;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 200px;

                .payment-option {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 150px;

                    .payment-message {
                        position: absolute;
                        top: -85px;
                        right: -425px;
                        padding: 15px;
                        width: 325px;
                        height: fit-content;
                        border-radius: 10px;
                        background-color: V.$color-tertiary-light;
                        border: 2px solid V.$color-tertiary;

                        &#cash-payment-message {
                            top: -85px;
                        }

                        &#others-payment-message {
                            top: -125px;
                        }

                        p {
                            text-align: justify;
                        }
                    }

                    input[type="radio"] {
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        border: 2px solid V.$color-tertiary;
                        border-radius: 50%;
                        outline: none;
                        cursor: pointer;
                        transition: border-color 0.3s ease;

                        &:checked {
                            border-color: V.$color-tertiary;
                        }

                        &::before {
                            content: ".";
                            display: block;
                            width: 12px;
                            height: 12px;
                            background-color: V.$color-tertiary;
                            border-radius: 50%;
                            margin: 2px;
                        }

                        &:not(:checked)::before {
                            content: none;
                        }
                    }
                }

                button {
                    @include M.Button(200px);
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .payment-main {

        article:nth-child(2) {
            
            section {
    
                form {
    
                    .payment-option {
    
                        .payment-message {
                            top: 125px;
                            right: -175px;

                            &#cash-payment-message {
                                top: 165px;
                            }
    
                            &#others-payment-message {
                                top: 125px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .payment-main {

        article:nth-child(2) {
            
            section {
    
                form {
    
                    .payment-option {
    
                        .payment-message {
                            width: 300px;
                            top: 125px;
                            right: -145px;
                        }
                    }
                }
            }
        }
    }
}