$color-primary: #202020;
$color-primary-light: rgba(0, 0, 0, 0.1);
$color-primary-semi-light: rgba(0, 0, 0, 0.473);
$color-secondary: #f0f0f0;
$color-tertiary: rgb(142, 112, 84);
$color-tertiary-light: rgba(141, 111, 83, 0.384);
$color-product-item-gray: rgba(211, 211, 211, 0.466);
$acc-menu-border-color: #808080;
$btn-green-bg: #17795e;
$btn-green-bg-hover: #146c54;
$btn-cancel-bg: #c1c1c1;
$btn-delete-bg: #df6b51;