@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

// Sidebar
@use '../../components/_Sidebar';

// Table
@use '../../components/_Table';

// TableSearchBar
@use '../../components/_TableSearchBar';

// TablePagination
@use '../../components/_TablePagination';

// TableTd
@use '../../components/_TableTd';

// TableButtons
@use '../../components/_TableButtons';

// OrderUpdateModal
@use '../../components/_OrderUpdateModal';

.ordersboard__control-panel {
    grid-row: span 2;
    padding: 25px;
    overflow: hidden;

    &__orders {
        @include M.WrapperTemplate();
    }
}