@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

//Sidebar
@use '../../components/_Sidebar';

//Table
@use '../../components/_Table';

.ordersboard__control-panel {
    grid-row: span 2;
    padding: 25px;
    overflow: hidden;

    &__title {
        margin-bottom: 25px;
    }

    &__orders {
        @include M.WrapperTemplate();
    }
}