@use '../../utilities/_variables' as V;

// SubNavbar
@use '../../components/_SubNavbar';

// Product Item
@use '../../components/_ProductItem';

// Filters
@use './components/_FiltersBoard';

// ProductsListWrapper
@use '../../components/_ProductsListWrapper';

// Products
@use '../../components/_ProductsCatalog';

// PurchaseInfoBanner
@use '../../components/_PurchaseInfoBanner';

.main--products-page {
    grid-row: repeat(2, auto);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.products-page-purchase-path {
    grid-row: span 2;
    grid-column: 1/-1;

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 940px) {
    .main--products-page {
        display: grid;
        grid-template-columns: 30% 65%;
    }
}

@media screen and (min-width: 1300px) {
    .main--products-page {
        grid-template-columns: 25% 75%;
    }
}