@use '../../../utilities/_variables' as V;

.accordion {
    position: relative;
    min-width: 275px;
    width: 275px;
    max-height: 109px;
    margin: 25px;
    background-color: V.$color-primary;
    border-radius: 10px;
    padding: 20px;
    transition: max-height 0.2s ease-out;
    cursor: default;

    * {
        color: V.$color-secondary;
    }

    &:hover {
        max-height: 1000px;

        .accordion__header {
            .accordion__header__number {
                transform: scale(1.25);
            }
        }

        .accordion__body {
            max-height: 1000px;
            opacity: 1;
            margin-top: 20px;
        }
    }
    
    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;

        &__number {
            color: V.$color-tertiary;
            font-size: 60px;
            font-weight: 600;
            transition: transform 0.2s ease-out;
        }

        &__title {
            display: inline;
            font-size: 30px;
            margin-left: 10px;
        }
    }

    &__body {
        max-height: 0;
        margin-top: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.2s ease-out;

        &__text {
            font-size: 20px;
        }

        &__icon {
            position: relative;
            left: 175px;

            svg {
                color: V.$color-tertiary;
            }
        }
    }
}