@use '../../components/CheckoutSteps';
@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

.payment-main {
//   width: 100%;
//   max-width: 1300px;
//   min-height: 650px;

    article:nth-child(2) {
        section {
            width: 80%;
            max-width: 600px;
            margin: 0 auto;

            h1 {
              font-size: 35px;
              margin: 30px 0;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 150px;

                .payment-option {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100px;

                    input[type="radio"] {
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        border: 2px solid V.$color-tertiary;
                        border-radius: 50%;
                        outline: none;
                        cursor: pointer;
                        transition: border-color 0.3s ease;

                        &:checked {
                            border-color: V.$color-tertiary;
                        }

                        &::before {
                            content: ".";
                            display: block;
                            width: 12px;
                            height: 12px;
                            background-color: V.$color-tertiary;
                            border-radius: 50%;
                            margin: 2px;
                        }

                        &:not(:checked)::before {
                            content: none;
                        }
                    }
                }

                button {
                    @include M.in-stock-btn(200px);
                }
            }
        }
    }
}
