@use '../utilities/_variables' as V;
@use '../utilities/_mixins' as M;

.card {
    @include M.WrapperTemplate();
    display: flex;
    height: 100px;
    align-items: center;
    width: 100%;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;

        * {
            color: #fff;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
            
        &__title,
        &__text {
            font-size: 18px;
            font-weight: 600;
            color: V.$color-primary-semi-light;
        }

        &__text {
            font-weight: 800;
        }
    }
}

@media screen and (min-width: 1118px) {
    .card {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 32%;
    }
}