@use '../utilities/_variables' as V;

.checkout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__step {
        width: 25%;
        height: 75px;
        padding: 5px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        border-bottom: 5px solid V.$color-primary-light;

        &__name {
            color: V.$color-primary-semi-light;
        }

        &.checkout__step--active {
            border-bottom: 5px solid V.$color-tertiary;
            
            .checkout__step__name {
                color: V.$color-tertiary;
            }
        }
    }
}