@use '../utilities/_variables' as V;

footer {
  width: 100%;
  height: auto;
  background-color: V.$color-primary;
}

.footer-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 30px auto;
  font-size: 25px;
  height: 450px;

  &__navigation,
  &__contact,
  &__social-networks {
    width: 70%;
    height: auto;
    margin: 0 auto;

    &__title {
      color: V.$color-secondary;
      margin-bottom: 15px;
    }
  }

  &__navigation ul,
  &__contact ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__social-networks ul {
    display: flex;
    flex-direction: row;
    gap: 5px;

    li {
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: V.$color-secondary;
      cursor: pointer;

      a {
        max-width: 25px;
        max-height: 25px;
      }

      & * {
        color: V.$color-primary;
      }
    }
  }

  li, span {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: V.$color-secondary;

    & * {
      color: V.$color-secondary;
    }
  }
}

.footer-separator {
  width: 90%;
  border: 1px solid V.$color-secondary;
  margin: 0 auto;
}

.footer-copyright {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    user-select: none;
    width: 70px;
    height: 55px;
  }
      
  &__p {
    font-size: 10px;
    max-width: 500px;
    line-height: 20px;
    color: V.$color-secondary;
    text-align: right;

    &__link {
      color: V.$color-tertiary;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 850px) {
  .footer-info {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
        
    &__navigation,
    &__contact,
    &__social-networks {
      width: auto;
      height: 160px;
      margin: 0;
    }
  }

  .footer-copyright {
    width: 80%;
    margin: 30px auto;
  }
}