@use '../utilities/variables' as V;

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  
  width: 100vw;
  height: 100vh;

  &.flex {
    width: 100%;
    height: 100%;
  }

  img {
    width: 75px;
    height: 75px;
  }

  .spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    & div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: V.$color-tertiary;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    & div:nth-child(1) {
      left: 8px;
      animation: loading-icon1 0.6s infinite;
    }
    & div:nth-child(2) {
      left: 8px;
      animation: loading-icon2 0.6s infinite;
    }
    & div:nth-child(3) {
      left: 32px;
      animation: loading-icon2 0.6s infinite;
    }
    & div:nth-child(4) {
      left: 56px;
      animation: loading-icon3 0.6s infinite;
    }
  }
}

@keyframes loading-icon1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
  
@keyframes loading-icon2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
  
@keyframes loading-icon3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}