@use '../utilities/_variables' as V;

.products-catalog {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    padding: 15px;

    &.sb-open {
        animation: products-hidden 0.5s ease forwards;
    }
}

@media screen and (min-width: 940px) {
    .products-catalog .sb-open {
        animation: none;
    }
}

@keyframes products-hidden {
    0% {
        display: flex;
    }
    40% {
        display: flex;
    }
    80% {
        display: flex;
    }
    100% {
        display: none;
    }
}