@use '../utilities/variables' as V;

.products-page__products-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    padding: 15px;

    h5 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 575px;
    }
  
    ul {
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(auto-fill, 284px);
        gap: 15px;
        width: 100%;
        max-width: 1010px;
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width: 1300px) {
    .products-page__products-container {
  
        ul {
            grid-template-columns: repeat(3, 184px);
        }
    }
}

@media screen and (max-width: 940px) {
    .products-page__products-container {
        width: 100%;

        &.sb-open {
            animation: products-hidden 0.5s ease forwards;
        }

        ul {
            grid-template-columns: repeat(4, 184px);
        }
    }
}

@media screen and (max-width: 810px) {
    .products-page__products-container {

        ul {
            grid-template-columns: repeat(3, 184px);
        }
    }
}

@media screen and (max-width: 620px) {
    .products-page__products-container {

        ul {
            grid-template-columns: repeat(2, 184px);
        }
    }
}

@media screen and (max-width: 420px) {
    .products-page__products-container {

        ul {
            gap: 10px;
        }
    }
}

@media screen and (max-width: 395px) {
    .products-page__products-container {

        ul {
            grid-template-columns: repeat(1, 184px);
        }
    }
}

@keyframes products-hidden {
    0% {
      display: flex;
    }
    40% {
      display: flex;
    }
    80% {
      display: flex;
    }
    100% {
      display: none;
    }
}