@use '../utilities/_variables' as V;

.purchase-info-banner {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    * {
        color: V.$color-primary-semi-light;
    }

    &__payment,
    &__shipping,
    &__security {
        width: 300px;
        display: flex;
        flex-direction: row;

        &__content {
            margin-left: 15px;

            &__title {
                font-size: 20px;
            }

            &__text {
                font-size: 15px;
            }
        }
    }
}

.purchase-info-separator {
    width: 30%;
    height: 1px;
    min-width: 1.5px;
    max-width: 175px;
    background-color: V.$color-primary-semi-light;
    margin: 0 15px;
}

@media screen and (min-width: 1024px) {
    .purchase-info-banner {
        height: auto;
        flex-direction: row;
        align-items: flex-start;
    }

    .purchase-info-separator {
        width: 1.5px;
        height: 80px;
        align-self: center;
    }
}