@use '../utilities/variables' as V;

.purchase-info-banner {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    * {
        color: V.$color-primary-semi-light;
    }

    .purchase-info-separator {
        min-width: 1.5px;
        min-height: 100%;
        background-color: V.$color-primary-semi-light;
        margin: 0 15px;
    }

    .purchase-info-banner__payment,
    .purchase-info-banner__shipping,
    .purchase-info-banner__security {
        width: 300px;
        display: flex;
        flex-direction: row;

        div {
            margin-left: 15px;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .purchase-info-banner {
        height: 400px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .purchase-info-separator {
            width: 30%;
            max-width: 175px;
            min-height: 1px;
            background-color: V.$color-primary-semi-light;
            margin: 0 15px;
        }
    }
}