@use '../utilities/_variables' as V;

.sub-navbar {
    width: 85%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1300px) {
    .sub-navbar {
        width: 100%;
    }
}