@use '../utilities/_variables' as V;

.sub-navbar {
    width: 85%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    // Search Input
    .sub-navbar__search-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 24%;
        min-width: 200px;
        height: 35px;
        background: V.$color-secondary;
  
        &__input {
            width: 100%;
            height: 100%;
            color: V.$color-primary;
            position: absolute;
            background-color: transparent;
            padding-left: 15px;
            border: none;
            border-bottom: 1px solid V.$color-primary;
            font-size: 15px;
        
            &::placeholder {
              color: V.$color-primary;
            }
            
            &::-webkit-calendar-picker-indicator,
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              opacity: 0;
            }
      
            &:focus {
              box-shadow: -3px -2px 94px -23px V.$color-primary;
            }
        }
  
        &__btn {
            min-width: 15%;
            height: 100%;
            background: transparent;
            position: absolute;
            right: 0;
            border: none;
            color: V.$color-secondary;
            border-bottom: 1px solid V.$color-primary;
            cursor: pointer;
        }
    }

    &__filters-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 77px;
        height: 40px;
        padding-left: 7.5px;
        font-weight: bold;
        border: 1px solid V.$color-primary;
        cursor: pointer;
    }
}

@media screen and (min-width: 940px) {
    .sub-navbar__filters-btn {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .sub-navbar {
        width: 100%;
    }
}