@use '../utilities/_variables' as V;
@use '../utilities/_mixins' as M;

// Cells Colors
$even-cell-color: transparent;
$odd-cell-color: #f8f8f8;

.table-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 222px;
}

.table {
    max-height: 937px;
    overflow-x: auto;
    
    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: V.$color-tertiary-light;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: V.$color-tertiary;
    }

    table {
        min-width: 1384.4px;
        min-height: 100px;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        
        thead {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 2;
        
            th {
                padding: 10px 5px;
                border-bottom: 1px solid V.$color-primary-light;

                span {
                    font-weight: lighter;
                }
            }
        }
    
        tbody {

            tr {
                &:nth-child(even) {
                    background-color: $odd-cell-color;
                }
    
                &:nth-child(odd) {
                    background-color: $even-cell-color;
                }
            }

            tr:last-child,
            tr:nth-last-child(2) td.stock-cell {
                div {
                    bottom: 0;
                    top: 0;

                    &.open {
                        bottom: 0;
                        top: -150px;
                    }
                }
            }
        }
    }

    .table-empty-message {
        font-size: 14px;
        margin: 20px 0;
        position: absolute;
        left: 0;

        a {
            color: V.$color-tertiary;
            text-decoration: underline;
        }
    }
}

.delete-modal {
    @include M.WrapperTemplate();
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 190px;

    * {
        color: #e6c088;
    }
    
    &__icon {
        position: absolute;
        top: -40px;
        border-radius: 50%;
        background-color: #fff;
    }

    &__msg {
        font-size: 20px;
        font-weight: bold;
        color: V.$color-primary;
        margin: 35px 0;
    }

    &__buttons {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-evenly;

        button {
            height: 40px;
            width: 100px;
            border: none;
            border-radius: 5px;
            transition: all .2s ease-in-out;
            color: #fff;
            font-size: 15px;
            cursor: pointer;

            &.delete-modal__buttons-delete {
                background-color: V.$btn-delete-bg;

                &:hover {
                    background-color: rgba(V.$btn-delete-bg,.8);
                }
            }

            &.delete-modal__buttons-cancel {
                background-color: V.$btn-cancel-bg;

                &:hover {
                    background-color: rgba(V.$btn-cancel-bg,.8);
                }
            }
        }
    }
}