@use '../../../utilities/_variables' as V;

.filters-switch {
    width: 85%;
    max-width: 1300px;
    align-self: center;

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 77px;
        height: 40px;
        padding-left: 7.5px;
        font-weight: bold;
        border: 1px solid V.$color-primary;
        cursor: pointer;
    }
}

.filters-wrapper {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    background-color: V.$color-secondary;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: transform .3s ease-in-out;
    overflow-y: auto;
    z-index: 1000;

    &.filters-wrapper--open {
        transform: translate(0);
        padding-bottom: 30px;
    }

    &__head,
    &__category,
    &__color,
    &__size,
    &__price,
    &__brand {
        width: 80%;
        margin: 0 auto;

        &__title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        li {
            font-size: 15px;

            span {
                transition: color .15s ease-in-out;
                cursor: pointer;
            }
        }
    }

    &__category,
    &__color,
    &__size,
    &__price,
    &__brand {
        padding: 20px 0;

        & li span:hover {
            color: V.$color-tertiary;
        }
    }
}

.filters-wrapper__head {
    margin-top: 50px;

    div {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: V.$color-primary-light;
        margin-bottom: 10px;

        svg {
            display: block;
        }

        h2 {
            font-size: 35px;
            display: inline;
        }

        svg,
        h2 {
            cursor: pointer;
        }
    }

    & > span {
        font-size: 15px;
        margin-left: 25px;
    }
        
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 25px;
            
        &__selected-filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #fff;
            font-size: 12.5px;
            padding: 7.5px 10px;
            border-radius: 40px;
            cursor: pointer;

            &:hover {
                background-color: V.$color-primary-light;
            }

            .color-selected {
                width: 15px;
                height: 15px;
                border: 1px solid V.$color-primary-semi-light;
                padding: 1px;
                margin: 0;

                div {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }

            .color-selected,
            span {
                border-left: 1px solid V.$color-primary;
                margin-left: 5px;
                font-size: 12.5px;
                max-width: 25ch;
            }

            span {
                word-wrap: break-word;
                padding-left: 5px;
            }
        }
    }
}

.filters-wrapper__size__list,
.filters-wrapper__category__list,
.filters-wrapper__brand__list {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.filters-wrapper__color {
    &__list {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;

        &__color-filter {
            width: 22.5px;
            height: 22.5px;
            max-width: 22.5px;
            max-height: 22.5px;
            border: 1px solid V.$color-primary-semi-light;
            padding: 1px;

            &__square {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.filters-wrapper__brand__btn {
    margin-top: 10px;
    color: V.$color-tertiary;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filters-wrapper__price__form {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        height: 35px;

        * {
            color: V.$color-primary-semi-light;
        }

        &__input-min,
        &__input-max {
            min-width: 60px;
            width: 35%;
            height: 30px;
            border: none;
            border-radius: 5px;
            padding: 0 5px;

            &:focus {
                border: 2.5px solid V.$color-primary-semi-light;
            }
        }

        span {
            font-size: 20px;
            font-weight: bold;
        }

        &__btn {
            background-color: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }
}

@media screen and (min-width: 940px) {
    .filters-switch {
        display: none;
    }

    .filters-wrapper {
        width: 100%;
        height: auto;
        margin-top: 15px;
        position: static;
        transform: translate(0);
    }

    .filters-wrapper__head {
        margin: 0 auto;

        & > div {
            background-color: transparent;
            margin-bottom: 0;

            svg {
                display: none;
            }

            svg,
            h2 {
                cursor: default;
            }
        }
    }

    .filters-wrapper__price__form {
        flex-direction: column;
        align-items: center;
        height: 140px;

        &__input-min,
        &__input-max {
            width: 100%;
        }
    }
}


@media screen and (min-width: 1050px) {
    .filters-wrapper__price__form {
        flex-direction: row;
        align-items: flex-start;

        &__input-min,
        &__input-max {
            width: 35%;
        }
    }
}