@use '../../utilities/variables' as V;
@use '../../utilities/mixins' as M;

// CartItem
@use './components/CartItem';

// Carousel
@use '../../components/ProductsCarousel';

.cart-main {
    // width: 100%;
    // max-width: 1300px;
    // min-height: 625px;

    article:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #cart-clear-section {
            width: 100%;
            min-height: 650px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            p {
                font-size: 30px;
            }
    
            a {
                font-size: 25px;
                color: V.$color-tertiary;
                text-decoration: underline;
            }
        }

        #cart-products-section {
            width: 70%;
        }

        #cart-purchase-summary-section {
            width: 25%;
            height: fit-content;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid V.$color-primary-light;
            position: sticky;
            top: 30px;

            & > div:nth-child(1) {
                padding: 20px;
                border-bottom: 1px solid V.$color-primary-light;

                h3 {
                    font-size: 20px;
                }
            }

            & > div:nth-child(2) {
                padding: 20px;

                #purchase-summary-info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    span:nth-child(2) {
                        font-weight: bold;
                    }
                }

                button {
                    @include M.in-stock-btn(100%);
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    article:nth-child(1) {
        #cart-products-section {
            width: 85%;
            margin: 0 auto;
        }

        #cart-purchase-summary-section {
            min-width: 244px;
        }
    }
}

@media screen and (max-width: 1175px) {
    article:nth-child(1) {
        flex-wrap: wrap;

        #cart-products-section {
            min-width: 90%;
        }
        
        #cart-purchase-summary-section {
            min-width: 90%;
            margin: 0 auto;
            bottom: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    article:nth-child(1) {
        #cart-products-section {
            min-width: 95%;
        }
        
        #cart-purchase-summary-section {
            min-width: 95%;
            margin: 0 auto;
            bottom: 0;
        }
    }
}