@use '../../utilities/_mixins' as M;

// SubNavbar
@use '../../components/_SubNavbar';

// Table
@use '../../components/_Table';

// TableSearchBar
@use '../../components/_TableSearchBar';

// TablePagination
@use '../../components/_TablePagination';

// TableTd
@use '../../components/_TableTd';

// TableButtons
@use '../../components/_TableButtons';

.order-history-table {
    @include M.WrapperTemplate();
    margin: 0 15px;
}

@media screen and (min-width: 640px) {
    .order-history-table {
        margin: 0 25px;
    }
}

@media screen and (min-width: 1280px) {
    .order-history-table {
        margin: 0;
    }
}