@use '../../utilities/_variables' as V;
@use '../../utilities/_mixins' as M;

//SubNavbar
@use '../../components/_SubNavbar';

//Table
@use '../../components/_Table';

.order-history-table {
    @include M.WrapperTemplate();
    overflow: hidden;
}

.order-history-table {
    margin: 0 15px;
}

@media screen and (min-width: 640px) {
    .order-history-table {
        margin: 0 25px;
    }
}

@media screen and (min-width: 1280px) {
    .order-history-table {
        margin: 0;
    }
}